<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Nintendo Forum</title>

      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='layout.css')}}">
   </head>

   <body>
      <h1>Nintendo Forum</h1>

      <ul style="list-style-type:none; width:30%; float:left;">
         <li><a href="{{ url_for('index') }}">Etusivu</a></li>
         <li><a href="{{ url_for('threads_index') }}">Näytä keskustelut</a></li>
         <li><a href="{{ url_for('threads_create') }}">Aloita uusi keskustelu</a></li>
      </ul>

      <ul style="list-style-type:none; width:30%; float:right;">
         <li>
            {% if current_user.is_authenticated %}
               <p style="margin-top: 0px; margin-bottom: 0px;"> Kirjautunut: <b style="margin-top: 0px; margin-bottom: 0px;"> 
                  {{ current_user.username }}</b></p>
            {% else %}
               <a href="{{ url_for('auth_login') }}">Kirjaudu</a>
            {% endif %}
         </li>
         <li>
            {% if current_user.is_authenticated %}
               <p style="margin-top: 0px; margin-bottom: 0px;">Omat tiedot</p>
            {% else %}
               <a href="{{ url_for('auth_register') }}">Rekisteröidy</a>
            {% endif %}
         </li>
         <li>
            {% if current_user.is_authenticated %}
               <a href="{{ url_for('auth_logout') }}">Kirjaudu ulos</a>
            {% else %}
               <p></p>
            {% endif %}
         </li>
      </ul>

   
      {% block body %}
         <p> Content. </p>
      {% endblock %}
   </body>
</html>
