{% extends "layout.html" %}

{% block body %}
<div style="clear:both"></div>

<table class="tb_index" style="font-weight:bold"/>
   <tr><td colspan="2"></td></tr>
   
   <tr>
      <td> Viestiketjuja yhteensä: </td>
      <td>{{ countThreads }} </td>                    
   </tr>

   <tr>
      <td> Viestejä yhteensä: </td>
      <td>{{ countPosts }}</td>
   </tr>

    <tr><td colspan="2"></td></tr>
</table>

<div class="index_imgRow">
   <div class="index_imgColumn_left">
      <img src="/static/images/link.png" alt="Link iskee miekalla (tLoZ: Ocarina of Time)" style="width:100%">
   </div>

   <div class="index_imgColumn_right">
      <img src="/static/images/mario.png" alt="Mario juoksee virnistäen (Super Mario Odyssey)" style="width:100%">
   </div>
</div>

{% endblock %}
