{% extends "layout.html" %}

{% block body %}
   <table>
      <tr>
         <th>Otsikko</th>
         <th></th>
      </tr>

      {% for i in threadList %}
         <tr>
            <td id="td01">{{ i.topic }}</td>
         
            <td id="td01">
               <div style=float:right;>
                  <form method="POST" action="{{ url_for('threads_remove', threadId=i.id) }}">
                     <input type="submit" value="Poista"/>
                  </form>
               </div>

               <div style=float:right;>
                  <form method="GET" action="{{ url_for('threads_update', threadId=i.id) }}">
                     <input type="submit" value="Muokkaa"/>
                  </form>
               </div>
            </td>
         </tr>

      {% endfor %}
   </table>
{% endblock %}
