{% extends "layout.html" %}

{% block body %}
   <table>
      <tr>
         <th>Otsikko</th>
         <th colspan="2">Alue</th>
      </tr>

      {% for i in threadList %}
         {% if i[0] != None %}

            <tr>
               <td id="td01"><a href="{{ url_for('threads_open', threadId=i[0]) }}">{{ i[1] }}</a></td>

               <td id="td01">
                  {% for j in i[2] %}
                     {{ j }}
                  {% endfor %}
               </td>
         
               <td id="td01">
                  {% if current_user.userrole == "ADMIN" or current_user.userrole == "MASTER" %}

                     <div style=float:right;>
                        <form method="POST" action="{{ url_for('threads_remove', threadId=i[0]) }}">
                           <input type="submit" value="Poista"/>
                        </form>
                     </div>

                     <div style=float:right;>
                        <form method="GET" action="{{ url_for('threads_update', threadId=i[0]) }}">
                           <input type="submit" value="Muokkaa"/>
                        </form>
                     </div>

                  {% endif %}
               </td>
            </tr>

         {% endif %}
      {% endfor %}
   </table>
{% endblock %}





