{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{ url_for('auth_change_name') }}">
   <table>
      <caption style="font-weight: bold; font-size: 140%;"> Päivitä käyttäjätiedot </caption>
         <tr><td colspan="3"></td></tr>

      <tr>
         <td>{{ form.name.label }}</td>
         <td>{{ form.name }}</td>
         <td>
            <ul>
               {% for error in form.name.errors %}
                  <li>{{ error }}</li>
               {% endfor %}
            </ul>
         </td>
      </tr>

      <tr>
         <td colspan="3"><input type="submit" value="Vahvista"/></td>
      </tr>
   </table>
</form>

{{ error }}


{% endblock %}
