{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{ url_for('auth_change_password', userId=current_user.id) }}">
   <table>
      <caption style="font-weight: bold; font-size: 140%;"> Päivitä käyttäjätiedot </caption>
         <tr><td colspan="3"></td></tr>

      <tr>
         <td>{{ form.password.label }}</td>
         <td>{{ form.password }}</td>
         <td>
            <ul>
               {% for error in form.password.errors %}
                  <li>{{ error }}</li>
               {% endfor %}
            </ul>
         </td>
      </tr>

      <tr>
         <td>{{ form.confirm.label }}</td>
         <td>{{ form.confirm }}</td>
      </tr>

      <tr>
         <td colspan="3"><input type="submit" value="Vahvista"/></td>
      </tr>
   </table>
</form>

{{ error }}


{% endblock %}
