{% extends "layout.html" %}

{% block body %}

<table>
   <caption style="font-weight: bold; font-size: 140%;"> Omat tiedot </caption>
   <th><td colspan="3"></td></th>

   <tr>
      <td> Nimi: </td>
      <td>{{ current_user.name }}</td>
      <td>
         <form method="GET" action="{{ url_for('auth_change_name') }}">
            <input type="submit" value="Vaihda"/>
         </form>
      </td>
   </tr>

   <tr>
      <td> Käyttäjätunnus: </td>
      <td>{{ current_user.username }}</td>
      <td>
         <form method="GET" action="{{ url_for('auth_change_username') }}">
            <input type="submit" value="Vaihda"/>
         </form>
      </td>
   </tr>

   <tr>
      <td> Salasana: </td>
      <td>{{ current_user.password }}</td>
      <td>
         <form method="GET" action="{{ url_for('auth_change_password') }}">
            <input type="submit" value="Vaihda"/>
         </form>
      </td>
   </tr>

   <tr>
      <td> Käyttäjätunnus luotu: </td>
      <td colspan="2"> {{ momentjs(current_user.created).format('LL') }}</td>
   </tr>

   <tr>
      <td> Käyttöoikeudet: </td>
      <td colspan="2"> {{ current_user.userRole }} </td>
   </tr>

   <tr>
      <td> Aloitetut viestiketjut: </td> 
      <td colspan="2"> {{ countUserThreads}} </td>
   </tr>

   <tr>
      <td> Viestit: </td>
      <td colspan="2"> {{ countUserPosts }} </td>
   </tr>

   <tr><td colspan="3"></td></tr>
</table>

{% if current_user.userRole != "MASTER" %}
   <form method="POST" action="{{ url_for('auth_remove') }}">
      <input type="submit" value="Poista käyttäjätili"/>
   </form>
{% endif %}

{% endblock %}
